{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            

            <div class="row">
                <table class="table" width="100%" border="0" bgcolor="#FFFFFF">
				    <tr style="width:100%">
				      <td>Student Curriculum</td>
				    </tr>

				</table>
            </div>

        </div><!-- /.container-fluid -->
      </section>


  {% endblock main_content %}
  {% endblock %}
